* {
    font-family: Mulish, Arial;
    box-sizing: border-box;
}

body {
    height: 3000px;
}

.logo-t {
    color: white;
    font-weight: 700;
    background-color: #488ef4;
    display: inline-flex;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
}

.sublogo-t {
    display: inline-block;
    font-weight: 700;
}

.logo-container {
    margin-left: 14px;
    cursor: pointer;
    user-select: none;
}

.header-container {
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 55px;
    box-sizing: border-box;
    background-color: rgb(247, 247, 247);
    top: 0;
    left: 0;
    right: 0;
}

.nav-container {
    display: flex;
    margin-right: 18px;
    flex-direction: row;
    flex-shrink: 0;
    gap: clamp(12px, 3vw, 45px);
}

.header-nav-buttons {
    color: grey;
    user-select: none;
}

.header-nav-buttons:hover {
    color: black;
    cursor: pointer;
    text-decoration: underline;
}

.hero {
    display: flex;
    flex-direction: row;
    margin-left: 4vw;
}

.hero-image {
    width: 320px;
    margin-top: 130px;
    margin-right: 2vw;
    user-select: none;
}

.hero-text {
    margin-top: 150px;
    transform: scale(0.8);
}

.hero-consult-button {
    background-color: #488ef4;
    color: white;
    border: none;
    padding: 14px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 80px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    transition:
        box-shadow 0.2s ease,
        filter 0.08s ease;
}

@media (max-width: 500px) {
    .hero {
        margin-top: -80px;
    }

    .sublogo-t {
        justify-content: center;
        align-items: center;
    }

    .nav-container {
        display: none;
    }
}

@media (max-width: 650px) {
    .hero {
        margin-left: 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .hero-image {
        width: 250px;
        margin-top: 50px;
    }

    .hero-text {
        transform: none;
        width: 100%;
        padding: 0 20px;
        text-align: center;
    }
}

@media (min-width: 750px) {
    .hero-image {
        width: 380px;
    }

    .hero-text {
        transform: scale(1.008);
        margin-top: 200px;
        margin-left: 30px;
        margin-right: 70px;
    }
}

@media (min-width: 1050px) {
    .hero-image {
        width: 450px;
        margin-right: 0px;
    }

    .hero-text {
        transform: scale(1.02);
        margin-left: 30px;
    }
}

@media (min-width: 1050px) {
    .hero-image {
        width: 450px;
        margin-top: 170px;
    }

    .hero-text {
        transform: scale(1.15);
        margin-left: 90px;
        margin-top: 250px;
        width: 800px;
        margin-right: 120px;
    }
}

@media (min-width: 1200px) {
    .hero-image {
        margin-right: 4vw;
        width: 500px;
        margin-top: 150px;
        margin-left: 0;
    }

    .hero-text {
        transform: scale(1.4);
        margin-left: 150px;
        margin-top: 290px;
        width: 700px;
        margin-right: 180px;
    }
}

@media (max-width: 300px) {
    .hero {
        margin-top: -90px;
    }

    .sublogo-t {
        justify-content: center;
        align-items: center;
    }

    .nav-container {
        display: none;
    }

    .hero-image {
        width: 170px;
        margin-top: 20px;
    }
}

.hero-consult-button:hover {
    box-shadow: 0px 3px 6px 0px rgba(1, 1, 1, 0.4);
}

.hero-consult-button:active {
    filter: brightness(70%);
}

.hero-description {
    color: grey;
}

.dots-beautiful {
    position: absolute;
    top: 70px;
    left: -41px;
    width: 100px;
}

.black-rectangle {
    font-weight: 700;
    margin-top: 0;
}

.services {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.our-services {
    font-weight: 700;
    margin-bottom: 4px;
}

.service-description {
    color: grey;
    text-align: center;
    margin-right: 12vw;
    margin-left: 12vw;
}

.service-card {
    background-color: white;
    box-shadow: 0px 10px 18px 0px rgba(1, 1, 1, 0.08);
    width: 200px;
    height: 220px;
    margin: 2vw;
    border-radius: 16px;
    padding-left: 14px;
}

.services-cards-grid-conatainer {
    margin-top: 28px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.service-title {
    font-weight: 700;
}

.service-card-description {
    color: grey;
    margin-top: -12px;
    font-size: 14px;
}

.service-card-icon {
    width: 40px;
    margin-top: 22px;
    margin-left: 10px;
}

.dots-in-services-grid {
    position: absolute;
    z-index: -1;
    right: 2px;
    width: 180px;
    top: 959px;
}

.dots-in-services-grid-2 {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 1035px;
}

.service-showmore-button {
    display: none;
    margin-top: 30px;
    background-color: white;
    font-weight: 700;
    border-style: solid;
    border-radius: 50px;
    padding: 12px;
    padding-left: 28px;
    padding-right: 28px;
    color: #458ff6;
    border-color: #458ff6;
    cursor: pointer;
    transition: 0.1s;
}

.service-showmore-button:hover {
    background-color: #458ff6;
    color: white;
}

.service-showmore-button:active {
    opacity: 60%;
}

.drip-drop-background-image {
    position: absolute;
    z-index: -2;
    left: 0;
    width: 500px;
    opacity: 60%;
}

@media (min-width: 1200px) {
    .drip-drop-background-image {
        width: 670px;
    }

    .service-showmore-button {
        transform: scale(1.4);
    }

    .services-cards-grid-conatainer {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1350px) {
    .drip-drop-background-image {
        width: 790px;
    }
}

@media (min-width: 1500px) {
    .drip-drop-background-image {
        width: 990px;
    }
}

@media (max-width: 760px) {
    .services-cards-grid-conatainer {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 620px) {
    .services-cards-grid-conatainer {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 750px) {
    .services-cards-grid-conatainer {
        display: grid;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: 1s ease;
    }

    .services-cards-grid-conatainer.show {
        max-height: 3000px;
        opacity: 1;
    }

    .service-showmore-button {
        display: block;
        z-index: 1;
    }
}

.section-2 {
    margin-top: 128px;
    display: flex;
    flex-direction: row;
    /*margin-left: 5vw;
    margin-right: 5vw;*/
}

.section-2-image {
    width: 510px;
}

.section-2-left-section {
    margin-left: 6vw;
}

.section-2-button {
    color: #488ef4;
    border-radius: 50px;
    border-style: solid;
    border-color: #488ef4;
    padding: 12px;
    padding-left: 28px;
    padding-right: 28px;
    font-weight: 700;
    background-color: white;
    cursor: pointer;
    user-select: none;
    transition: 0.1s;
}

.section-2-button:hover {
    background-color: #488ef4;
    color: white;
}

.section-2-button:active {
    filter: brightness(50%);
}

.section-2-description {
    color: grey;
    margin-bottom: 28px;
}

.section-2-black-rectangle-seperator {
    user-select: none;
    margin-top: 28px;
    margin-bottom: 28px;
}

@media (max-width: 1000px) {
    .section-2 {
        transform: scale(0.95);
    }
}

@media (max-width: 900px) {
    .section-2 {
        transform: scale(0.85);
    }
}

@media (max-width: 800px) {
    .section-2 {
        transform: scale(0.75);
    }
}

@media (max-width: 700px) {
    .section-2 {
        transform: scale(0.68);
    }
}
